src/main/resources/xml/declaracion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="declaracion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numeroDespacho" type="xs:string"/>
                <xs:element name="fechaEmision" type="xs:date"/>
                <xs:element name="importador">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cuit" type="xs:string"/>
                            <xs:element name="razonSocial" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="moneda" type="xs:string"/>
                <xs:element name="items">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ncm" type="xs:string"/>
                                        <xs:element name="descripcion" type="xs:string"/>
                                        <xs:element name="cantidad" type="xs:decimal"/>
                                        <xs:element name="valorUnitario" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
